<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>示例页面</title>
</head>
<body>
<h1>INFO 列表</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>密码</th>
        <th>年龄</th>
    </tr>
    </thead>
    <tbody>
    {%  for obj in data_list %}
    <tr>
        <td>{{ obj.id }}</td>
        <td>{{ obj.user }}</td>
        <td>{{ obj.password }}</td>
        <td>{{ obj.age }}</td>
        <td>
            <a href="/info/delete/?nid={{ obj.id }}"></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="/info/add"></a>
</body>
</html>